label {
    margin: 1rem;
}

input {
    margin: 1rem;
    padding: 2px 5px;
}

select {
    margin: 1rem;
}

textarea {
    margin: 1rem;
    max-width: 41,5rem;
    resize: none;
}

.form_choose_table {
    background-color: #A89F19;
    padding: 1rem;
}

.loggin {
    border: 1px solid #A89F19;
}

.cite {
    border: 1px solid #A89F19;
    padding: 4rem;
}

.form_border {
    border: 1px solid #A89F19;
}

.form_padding {
    padding: 4rem;
}

.editor {
    width: 90rem;
    min-width: 50rem;
    min-height: 50rem;
    resize: none;
    margin: 1rem 10rem;
    padding: 1rem;
}

.rojo {
    border: 1px solid red;
    color: red;
}

.rojo:focus {
    border: 1px solid black;
    color: black;
}

fieldset {
    border: 1px solid SLATEGRAY;
    padding: 2px;
    margin: 20px;
    background-color: #fff;
}

legend {
    margin-left: 10px;
    background-color: #fff;
    padding: 5px;
}

.form_verde {
    background-color: #A89F19;
    padding: 10px;
    margin-bottom: 20px;
}