.content {
    position: relative;
}

/*.center {
    border: 1px solid orange;
    margin: 0 auto;
}*/


.exercise2 {
    top: 350px;
}

.exercise4 {
    color: black;
}

.form {
    margin-top: 15 px;
}
