table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
}

.multiplicationTable {
    display: inline;
    background-color: #E14F75;
    border-radius: 1rem;
}

.multiplicationTable tbody {
    background-color: #A89F19;
}